<style>
.social:hover {text-decoration: none;}
</style>

<div class="container" >
    <footer class="row row-cols-5 py-5 my-5 border-top" >
        <div class="col-6 col-sm-3">
            <h5>Contato</h5>
            <ul class="nav flex-column">
                
                {% for telefone in site.data.contato.telefones %}
                <li class="nav-item mb-2">
                    <p class="p-0 text-muted">
                        {{ site.data.icons.telefone }} {{ telefone.numero }} ({{ telefone.responsavel }})
                    </p>
                </li>
                {% endfor %}
                <li class="nav-item mb-2">
                    <p class="p-0 text-muted">
                        {{ site.data.icons.email }} {{ site.data.contato.email }}
                    </p>
                </li>
                <li class="nav-item mb-2">
                    <p class="p-0 text-muted">
                        {{ site.data.icons.localizacao }} {{ site.data.contato.endereco.logradouro }}, {{ site.data.contato.endereco.campus }}, CEP {{ site.data.contato.endereco.cep}}
                    </p>
                </li>
            </ul>
        </div>

        <div class="col-6 col-sm-2">
            <h5>Quem Somos</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{site.url}}/sobre-a-omoc/" class="nav-link p-0 text-muted">Sobre a OMOC</a></li>
                <li class="nav-item mb-2"><a href="{{site.url}}/organizacao/" class="nav-link p-0 text-muted">Organização</a></li>
                <li class="nav-item mb-2"><a href="{{site.url}}/edicao-atual-omoc/" class="nav-link p-0 text-muted">Edição Atual</a></li>
            </ul>
            <br>

            <h5>Social</h5>
            <div class="text-left">
                <a class="p-0 text-muted social" href="{{site.data.contato.instagram}}" target="_blank">
                    {{site.data.icons.instagram}}
                </a>
                <a class="p-0 text-muted social" href="{{site.data.contato.youtube}}" target="_blank">
                    {{site.data.icons.youtube}}
                </a>
            </div>
        </div>

        <div class="col-6 col-sm-2">
            <h5>Material Didático</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{site.url}}/provas/" class="nav-link p-0 text-muted">Provas</a></li>
                <li class="nav-item mb-2"><a href="{{site.url}}/listas-de-treinamento/" class="nav-link p-0 text-muted">Treinamentos</a></li>
            </ul>
        </div>

        <div class="col-6 col-sm-2">
            <h5>Premiados</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{site.url}}/medalhistas/" class="nav-link p-0 text-muted">Medalhistas</a></li>
            </ul>

        </div>

        <div class="col-12 col-sm-2 text-center">
            <h5>Realização</h5>
            <a href="https://www.uffs.edu.br/" target="_blank">
                <img src="{{ site.url }}/images/common/uffs-footer-image-width-250.png" width="250" alt="">
            </a>
        </div>
    </footer>
    </div>