<style>
    .ancor-link {color: #613970; padding: 5px;}
    .ancor-link:hover {border-radius: 3px; color: #fff; background-color: #613970;  text-decoration: none;}
    .ancor-link-title { padding: 7px; background-color: #613970; color: #fff;}
</style>

<div class="sticky-top" style="top:50px;">
    <p class="ancor-link-title"><strong>{{ titulo-indice }}:</strong></p>
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-3 border-end ">
        <nav class="nav nav-underline flex-column "   >
        <a class="ms-2 ancor-link" href="#inscricoes"><i class="fa-solid fa-circle align-middle" style="font-size: 7px; "></i> Inscrições</a>
        <a class="ms-2 ancor-link" href="#treinamentos"><i class="fa-solid fa-circle align-middle" style="font-size: 7px; "></i> Inscrições para Treinamentos</a>
        <a class="ms-2 ancor-link" href="#fase-1"><i class="fa-solid fa-circle align-middle" style="font-size: 7px; "></i> 1ª Fase da OMOC</a>
        <a class="ms-2 ancor-link" href="#fase-2"><i class="fa-solid fa-circle align-middle" style="font-size: 7px; "></i> 2ª Fase da OMOC</a>
        <a class="ms-2 ancor-link" href="#premiacao"><i class="fa-solid fa-circle align-middle" style="font-size: 7px; "></i> Premiação</a>
        </nav>
    </nav>
    <br><br><br>
</div>
</div>