<nav class="navbar navbar-expand-lg" style="background-color: #613970;">
    <div class="container">
        <a class="navbar-brand" href="{{site.root-path}}">
            <img src="{{site.url}}/images/{{site.nav-logo}}" alt="OMOC" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span style="color: white;" class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-underline " >
                {% assign telas = site.data.navigation %}
                {% for tela in telas %}
                    {% include pages-in-nav.html %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>