---
layout: default
---
{% assign edicoes = site.data.edicoes-omoc | sort: "edicao" | reverse %}
{% assign edicao-atual = edicoes[0]%}

<style>
  /* Override the padding in container-fluid */
.container-fluid {
  padding: 0;
}

/* Override the margin in img-fluid */
.img-fluid {
  margin: 0;
}
</style>
<div class="container-fluid" >
  {% if page.image.banner %}
  <div class="d-none d-md-block">
    <img class="img-fluid" src="{{site.url}}/images/{{edicao-atual.banner-imagem}}" alt="{{ page.image.banner.alt }}">
  </div>
  <div class="d-md-none">
    <img class="img-fluid" src="{{site.url}}/images/inicio/banner-inicio-mobile.png" alt="{{ page.image.banner.alt }}">

  </div>
  {% else %}
  <h2 class="display-4" ><span class="badge bg-light" style="color: #613970;" >OMOC</span></h2>
  {% endif %}
</div>
<div class="container-xxl" data-bs-smooth-scroll="true" >
  <br>
  <div class="row g-3 " >
    <h1 style="color: #613970;" class="text-center text-uppercase" ><strong>Olimpíada de Matemática do Oeste Catarinense (OMOC)</strong></h1>
    <br><br>
    <div class="col-lg-8" >
      <h3 style="color: #613970;" class="text-left font-weight-bold" >Acesso rápido:</h3>
      <hr>

      <div class="card">
        <h5 class="card-title" style="background-color: #613970; color:white;padding: 5px;">Calendário 2023</h5>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-10 col-10">
                <p class="font-weight-bold">Visite o calendário da VI Edição da OMOC.</p>
                <p class="card-text">Saiba as datas e eventos importantes agendados!</p>
              </div>
              <div class="col-sm-2 col-2">
                <a href="#" class="btn" style="background-color: #613970; color:white;" >Go somewhere</a>
              </div>
            </div>
          </div>     
        </div>
      </div>

      <div class="card mt-2">
        <h5 class="card-title" style="background-color: #613970; color:white;padding: 5px;">Inscrições 2023</h5>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-10 col-10">
                <p class="font-weight-bold">Inscreva seus alunos na IV OMOC</p>
                <p class="card-text">As inscrições estarão disponíveis de XX de Xmês até XX de Xmês!</p>
              </div>
              <div class="col-sm-2 col-2">
                <a href="#" class="btn" style="background-color: #613970; color:white;" >Go somewhere</a>
              </div>
            </div>
          </div>     
        </div>
      </div>

      <div class="card mt-2">
        <h5 class="card-title" style="background-color: #613970; color:white;padding: 5px;">Treinamentos 2023</h5>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-10 col-10">
                <p class="font-weight-bold">Inscreva seus alunos nos treinamentos da IV OMOC</p>
                <p class="card-text">As inscrições estarão disponíveis de XX de Xmês até XX de Xmês!</p>
              </div>
              <div class="col-sm-2 col-2">
                <a href="#" class="btn" style="background-color: #613970; color:white;" >Go somewhere</a>
              </div>
            </div>
          </div>     
        </div>
      </div>
      <!-- cards -->
    <!-- <div class="col-lg-8" style="display: flex;align-items:center;"> 

      {% if page.image.banner %}
      <img class="img-fluid" src="{{site.url}}/images/{{ page.image.banner }}" width="800" alt="{{ page.image.banner.alt }}">
      {% else %}
      <h2 class="display-4" ><span class="badge bg-light" style="color: #613970;" >OMOC</span></h2>
      {% endif %}-->
    </div>

    <div class="col border border-black text-center" >
      <div class="row border-bottom" style="color: #fff; background-color: #613970;">
        &nbsp
        <h1><strong>Calendário 2023</strong></h1>
        &nbsp
      </div>
      <div class="row border-bottom">
        <div class="col-2 text-center" >
          <h1 class="display-4"><span class="badge" style="background-color: #613970;">{{ edicao-atual.calendario.inscricoes.fechamento.data | date: "%d" }}</span></h1>
          <h2 style="color: #613970;">&nbsp;{{ edicao-atual.calendario.inscricoes.fechamento.nome-do-mes | upcase | truncate: 3, ""}}</h2>
        </div>
        <div class="col-10 justify-content-center align-items-center">
          <br>
          <h3 class="text-uppercase"><strong>Inscrições</strong></h3>
          <p class="text-muted">(Prazo final das inscrições)</p>
          <ul class="list-inline">
            {% if edicao-atual.calendario.inscricoes.fechamento.dia-da-semana %}
            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{ edicao-atual.calendario.inscricoes.fechamento.dia-da-semana | truncate: 3, ""}}
            </li>
            {% endif %}
            {% if edicao-atual.calendario.inscricoes.fechamento.horario %}
            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ edicao-atual.calendario.inscricoes.fechamento.horario }}                 
            </li>
            {% endif %}
            {% if edicao-atual.calendario.inscricoes.local-realizacao %}
            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> 
                {{ edicao-atual.calendario.inscricoes.local-realizacao }}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- TREINAMENTO -->
      <div class="row border-bottom" style="border-color: #613970;">
        <div class="col-2 text-right">
          <h1 class="display-4"><span class="badge" style="background-color: #613970;">{{ edicao-atual.calendario.treinamento.abertura.data | date: "%d" }}</span></h1>
          <h2 style="color: #613970;">&nbsp;{{ edicao-atual.calendario.treinamento.abertura.nome-do-mes | upcase | truncate: 3, ""}}</h2>
        </div>
        <div class="col-10 justify-content-center align-items-center">
          <br>
          <h3 class="text-uppercase"><strong>Treinamentos</strong></h3>
          <p class="text-muted">(Início das inscrições)</p>
          <ul class="list-inline">
            {% if edicao-atual.calendario.treinamento.abertura.dia-da-semana %}
            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{ edicao-atual.calendario.treinamento.abertura.dia-da-semana | truncate: 3, "" }}
            </li>
            {% endif %}
            {% if edicao-atual.calendario.treinamento.abertura.horario %}
            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ edicao-atual.calendario.treinamento.abertura.horario }}                 
            </li>
            {% endif %}
            {% if edicao-atual.calendario.treinamento.local-realizacao %}
            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> 
                {{ edicao-atual.calendario.treinamento.local-realizacao }}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- 1a FASE -->
      <div class="row border-bottom" style="border-color: #613970;">
        <div class="col-2 text-right">
          <h1 class="display-4"><span class="badge" style="background-color: #613970;">{{ edicao-atual.calendario.treinamento.abertura.data | date: "%d" }}</span></h1>
          <h2 style="color: #613970;">&nbsp;{{ edicao-atual.calendario.treinamento.abertura.nome-do-mes | upcase | truncate: 3, ""}}</h2>
        </div>
        <div class="col-10 justify-content-center align-items-center">
          <br>
          <h3 class="text-uppercase"><strong>1ª Fase</strong></h3>
          <ul class="list-inline">
            {% if edicao-atual.calendario.fase-um.data-realizacao.dia-da-semana %}
            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{ edicao-atual.calendario.fase-um.data-realizacao.dia-da-semana | truncate: 3, "" }}
            </li>
            {% endif %}
            {% if edicao-atual.calendario.fase-um.data-realizacao.horario %}
            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ edicao-atual.calendario.fase-um.data-realizacao.horario }}                 
            </li>
            {% endif %}
            {% if edicao-atual.calendario.fase-um.local-realizacao %}
            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> 
                {{ edicao-atual.calendario.fase-um.local-realizacao }}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- 2a FASE -->
      <div class="row border-bottom" style="border-color: #613970;">
        <div class="col-2 text-right">
          <h1 class="display-4"><span class="badge" style="background-color: #613970;">{{ edicao-atual.calendario.fase-dois.data-realizacao.data | date: "%d" }}</span></h1>
          <h2 style="color: #613970;">&nbsp;{{ edicao-atual.calendario.fase-dois.data-realizacao.nome-do-mes | upcase | truncate: 3, ""}}</h2>
        </div>
        <div class="col-10 justify-content-center align-items-center">
          <br>
          <h3 class="text-uppercase" ><strong >2ª Fase</strong></h3>
          <ul class="list-inline">
            {% if edicao-atual.calendario.fase-dois.data-realizacao.dia-da-semana %}
            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{ edicao-atual.calendario.fase-dois.data-realizacao.dia-da-semana | truncate: 3, "" }}
            </li>
            {% endif %}
            {% if edicao-atual.calendario.fase-dois.data-realizacao.horario %}
            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ edicao-atual.calendario.fase-dois.data-realizacao.horario }}                 
            </li>
            {% endif %}
            {% if edicao-atual.calendario.fase-dois.local-realizacao %}
            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> 
                {{ edicao-atual.calendario.fase-dois.local-realizacao }}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="row border-bottom" style="border-color: #613970;">
          <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge " style="background-color: #613970;">{{ edicao-atual.calendario.premiacao.data-realizacao.data | date: "%d" }}</span></h1>
            <h2 style="color: #613970;">&nbsp;{{ edicao-atual.calendario.premiacao.data-realizacao.nome-do-mes | upcase | truncate: 3, ""}}</h2>
          </div>
          <div class="col-10 justify-content-center align-items-center">
            <br>
            <h3 class="text-uppercase"><strong>Premiação</strong></h3>
            <ul class="list-inline">
              {% if edicao-atual.calendario.premiacao.data-realizacao.dia-da-semana %}
              <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                  {{ edicao-atual.calendario.premiacao.data-realizacao.dia-da-semana | truncate: 3, "" }}
              </li>
              {% endif %}
              {% if edicao-atual.calendario.premiacao.data-realizacao.horario %}
              <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                  {{ edicao-atual.calendario.premiacao.data-realizacao.horario }}                 
              </li>
              {% endif %}
              {% if edicao-atual.calendario.premiacao.local-realizacao %}
              <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> 
                  {{ edicao-atual.calendario.premiacao.local-realizacao }}
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>